<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opaynpropertyproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpaynPropertyProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".customer.SavedPropertyActivity"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".AccountSettingActivity"
            android:exported="true" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="true" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".FAQActivity"
            android:exported="true" />
        <activity
            android:name=".home_activity.SellerAddedAdsProperty"
            android:exported="true" /> <!-- <activity -->
        <activity
            android:name=".home_activity.SelectedPropertyActivity"
            android:exported="true" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".map.MapExploreActivity"
            android:exported="true" />
        <activity
            android:name=".addAdsSlides.DealerAddActivity"
            android:exported="true" />
        <activity
            android:name=".home_activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".login_signup_activity.SellerBuyerProfileSetActivity"
            android:exported="true" />
        <activity
            android:name=".login_signup_activity.OtpVerifyActivity"
            android:exported="true" />
        <activity
            android:name=".login_signup_activity.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".login_signup_activity.ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".login_signup_activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".seller_chat.ChatScreenActivity"
            android:exported="true" />
        <activity
            android:name=".login_signup_activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>